<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Create a new list</h1>
    <div class="field is-grouped ">
      <p class="control is-expanded">
        <input #listTitleInput class="input is-medium" type="text" placeholder="Create a new list here" (keyup.enter)="createNewList(listTitleInput.value)">
      </p>
    </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-primary" (click)="createNewList(listTitleInput.value)" >
            Create
          </a>
        </p>
        <p class="control">
          <a class="button is-light" routerLink="">
            Cancel
          </a>
        </p>
    </div>
  </div>
</div>