<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Edit Task</h1>
    <div class="field is-grouped ">
      <p class="control is-expanded">
        <input #listTitleInput class="input has-background-light is-medium" type="text" [value]="task[0] && task[0].title" placeholder="Add a Task Title" (keyup.enter)="editTask(listTitleInput.value, listBodyInput.value)" >
      </p>
    </div>
    <div class="field is-grouped ">
      <p class="control is-expanded">
        <input #listBodyInput class="input has-background-light is-medium" type="text" [value]="task[0] && task[0].body"  placeholder="Add a Task Body (optional)" (change)="editTask(listTitleInput.value, listBodyInput.value)">
      </p>
    </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-primary" (click)="editTask(listTitleInput.value, listBodyInput.value)">
            Edit
          </a>
        </p>
        <p class="control">
          <a class="button is-light" routerLink="">
            Cancel
          </a>
        </p>
      
    </div>
  </div>
</div>